.friends-wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 3px solid sandybrown; */
  }
  
  @media screen and (min-width: 768px) {
    .friends-wrapper {
      flex-direction: row;
    }
  }
  
  
  .friends-list a {
    font-weight: bold;
  }