nav {
  background-color: sandybrown;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.container {
  padding: 20px 0;
  
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 0 20px;
  cursor: pointer;
}